html {
  padding: 0;
  margin: 0;

}

body {
  margin: 0;
  padding: 0;

}

#header {
  height: 100px;
  width: 100%;
  background-color: orange;
  margin: 0;
  padding: 0;

}

#headerimage {
  height: 95px;
  margin: 0;
  padding: 0;
}

#title {
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  border-color: lightgray;
  border-width: 1px;
  padding: 7px;

}

h1 {
  font-size: 65px;
}


::-webkit-input-placeholder {
  color: lightgray;
}



#post {
  opacity: 0.4;
  font-size: 30px;
  font-family: Merriweather'', serif;
  border-color: lightgray;
  border-width: 1px;
  padding: 7px;
}

#main {
  background: -webkit-linear-gradient(orange,yellow)
}

#submit {
  height: 70px;
  width: 150px;
  border-radius: 15px;
  background-color: orange;
  font-size: 20px;
  color: gray;
  border: none;
}

#invalid {
  color: red;
  font-size: 20px;
}

.tab2 {
  background-color: pink;
}

.tab3 {
  background-color: lightblue;
}

button.blog {
  background-color: orange;
}
.selected {
  display: block;
}

.hidden {
  display: none;
}

button {
  border-width: 1px;
  border-color: gray;
  border-radius: 8px;
  width: 100px;
  height: 30px;
  margin: 10px;
  font-family: 'Merriweather', serif;
}

button:hover {
  background-color: white;
  color: red;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 25px;
}

p:hover {
  color: white;
}

p {
  padding: 20px;
}

#submit:hover {
  background-color: white;
  border-width: 2px;
  border: solid;
  color: orange;
}